In [79]:
# Import dependencies
import pandas as pd
import numpy as np
import matplotlib as plt

In [80]:
# Load the data from csv to dataframes using Pandas
crossReference = pd.read_csv('Resources/crossReference.csv')
playerData = pd.read_csv('Resources/playerData.csv')
teamData = pd.read_csv('Resources/teamData.csv')

In [81]:
# Sample outputs of the crossReference data
crossReference.head()

         Team   TM
0       76ers  PHI
1  Blackhawks  TRI
2     Bobcats  CHA
3     Bommers  STB
4      Braves  BLB

In [82]:
# Sample outputs of the playerData
playerData.head()

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,10,1950.0,Charlie Black,F-C,28.0,AND,29.0,NaN,NaN,NaN,...,0.688,NaN,NaN,NaN,88.0,NaN,NaN,NaN,133.0,279.0
1,19,1950.0,Frankie Brian,G,26.0,AND,64.0,NaN,NaN,NaN,...,0.824,NaN,NaN,NaN,189.0,NaN,NaN,NaN,192.0,1138.0
2,31,1950.0,Jake Carter,F-C,25.0,AND,11.0,NaN,NaN,NaN,...,0.667,NaN,NaN,NaN,8.0,NaN,NaN,NaN,32.0,38.0
3,37,1950.0,Bill Closs,SF,28.0,AND,64.0,NaN,NaN,NaN,...,0.718,NaN,NaN,NaN,160.0,NaN,NaN,NaN,190.0,752.0
4,73,1950.0,Frank Gates,G,29.0,AND,64.0,NaN,NaN,NaN,...,0.622,NaN,NaN,NaN,91.0,NaN,NaN,NaN,147.0,287.0

In [83]:
# Sample outputs of the teamData
teamData.head()

   Year   Team Record  Winning Percentage
0  1964  76ers  34-46               0.425
1  1965  76ers  40-40               0.500
2  1966  76ers  55-25               0.688
3  1967  76ers  68-13               0.840
4  1968  76ers  62-20               0.756

In [84]:
# In order to properly use this data we need to put together into one dataset, to do this we will need to merge each one together
# on the appropriate fields
# First we do a merge of crossReference and teamData in order to get the correct tags that are used in the playerData frame, it also 
# contains the winning percentages of those teams that existed during their respective runs 
team_cross_merge = pd.merge(teamData, crossReference, on='Team')

# Sample output to make sure our data looks correct
# NOTE: a quick look at https://en.wikipedia.org/wiki/Wikipedia:WikiProject_National_Basketball_Association/National_Basketball_Association_team_abbreviations
# shows that we are on the right track
team_cross_merge.head()

   Year   Team Record  Winning Percentage   TM
0  1964  76ers  34-46               0.425  PHI
1  1965  76ers  40-40               0.500  PHI
2  1966  76ers  55-25               0.688  PHI
3  1967  76ers  68-13               0.840  PHI
4  1968  76ers  62-20               0.756  PHI

In [85]:
# To finalize our data we do a merge on the teamData_complete with playerData to add the appropriate fields to that set 
# which will contains our complete nba data for this project
nba_complete_data = pd.merge(playerData, team_cross_merge, left_on=['Tm','Year'], right_on=['TM','Year'])

# Sample output to make sure our data looks correct
nba_complete_data

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,AST,STL,BLK,TOV,PF,PTS,Team,Record,Winning Percentage,TM
0,2675,1969.0,Zelmo Beaty*,C,29.0,ATL,72.0,NaN,2578.0,19.1,...,131.0,NaN,NaN,NaN,272.0,1546.0,Hawks,48-34,0.585,ATL
1,2686,1969.0,Bill Bridges,PF,29.0,ATL,80.0,NaN,2930.0,15.4,...,298.0,NaN,NaN,NaN,290.0,941.0,Hawks,48-34,0.585,ATL
2,2688,1969.0,Joe Caldwell,SG,27.0,ATL,81.0,NaN,2720.0,14.5,...,320.0,NaN,NaN,NaN,231.0,1281.0,Hawks,48-34,0.585,ATL
3,2699,1969.0,Jim Davis,C,27.0,ATL,78.0,NaN,1367.0,17.3,...,97.0,NaN,NaN,NaN,239.0,684.0,Hawks,48-34,0.585,ATL
4,2728,1969.0,Richie Guerin*,SG,36.0,ATL,27.0,NaN,472.0,13.5,...,99.0,NaN,NaN,NaN,66.0,151.0,Hawks,48-34,0.585,ATL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22124,13341,1997.0,Rod Strickland,PG,30.0,WSB,82.0,81.0,2997.0,19.7,...,727.0,143.0,14.0,270.0,166.0,1410.0,Bullets,44-38,0.537,WSB
22125,13365,1997.0,Ben Wallace,PF,22.0,WSB,34.0,0.0,197.0,6.0,...,2.0,8.0,11.0,18.0,27.0,38.0,Bullets,44-38,0.537,WSB
22126,13374,1997.0,Chris Webber,PF,23.0,WSB,72.0,72.0,2806.0,21.8,...,331.0,122.0,137.0,230.0,258.0,1445.0,Bullets,44-38,0.537,WSB
22127,13382,1997.0,Chris Whitney,PG,25.0,WSB,82.0,1.0,1117.0,15.2,...,182.0,49.0,4.0,68.0,100.0,430.0,Bullets,44-38,0.537,WSB
22128,13394,1997.0,Lorenzo Williams,C,27.0,WSB,19.0,0.0,264.0,8.0,...,4.0,6.0,8.0,18.0,49.0,45.0,Bullets,44-38,0.537,WSB

In [86]:
# Now we need to clean the data a little bit, first we want to get rid of the 'Tm' columns since it is doubled
# NOTE: it seems we only want to run this specific cell once so I will put it on its own. We need to run the cell above 
# and then rerun this one if it throws an error
nba_complete_data = nba_complete_data.drop(['TM'], axis=1)

In [87]:
# Now we look at the types in our dataset to make sure that that are righly configured so we don't run into any issues 
# while we manipulate them
nba_complete_data.dtypes

Index                   int64
Year                  float64
Player                 object
Pos                    object
Age                   float64
Tm                     object
G                     float64
GS                    float64
MP                    float64
PER                   float64
TS%                   float64
3PAr                  float64
FTr                   float64
ORB%                  float64
DRB%                  float64
TRB%                  float64
AST%                  float64
STL%                  float64
BLK%                  float64
TOV%                  float64
USG%                  float64
blanl                 float64
OWS                   float64
DWS                   float64
WS                    float64
WS/48                 float64
blank2                float64
OBPM                  float64
DBPM                  float64
BPM                   float64
VORP                  float64
FG                    float64
FGA                   float64
FG%                   float64
3P                    float64
3PA                   float64
3P%                   float64
2P                    float64
2PA                   float64
2P%                   float64
eFG%                  float64
FT                    float64
FTA                   float64
FT%                   float64
ORB                   float64
DRB                   float64
TRB                   float64
AST                   float64
STL                   float64
BLK                   float64
TOV                   float64
PF                    float64
PTS                   float64
Team                   object
Record                 object
Winning Percentage    float64
dtype: object

In [97]:
# We see that 'Year' is considered a float so it shows a decimal, normally we write the year without any
# leading 0, so let's change it to an int for better readability
nba_complete_data['Year'] = nba_complete_data['Year'].astype(int)

# Let us see the new table
nba_complete_data.head()

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TRB,AST,STL,BLK,TOV,PF,PTS,Team,Record,Winning Percentage
0,2675,1969,Zelmo Beaty*,C,29.0,ATL,72.0,NaN,2578.0,19.1,...,798.0,131.0,NaN,NaN,NaN,272.0,1546.0,Hawks,48-34,0.585
1,2686,1969,Bill Bridges,PF,29.0,ATL,80.0,NaN,2930.0,15.4,...,1132.0,298.0,NaN,NaN,NaN,290.0,941.0,Hawks,48-34,0.585
2,2688,1969,Joe Caldwell,SG,27.0,ATL,81.0,NaN,2720.0,14.5,...,303.0,320.0,NaN,NaN,NaN,231.0,1281.0,Hawks,48-34,0.585
3,2699,1969,Jim Davis,C,27.0,ATL,78.0,NaN,1367.0,17.3,...,529.0,97.0,NaN,NaN,NaN,239.0,684.0,Hawks,48-34,0.585
4,2728,1969,Richie Guerin*,SG,36.0,ATL,27.0,NaN,472.0,13.5,...,59.0,99.0,NaN,NaN,NaN,66.0,151.0,Hawks,48-34,0.585

In [99]:
# One last step of cleaning is that we want to limit our data the last ~30 years, so we can do a filter on year
nba_complete_data = nba_complete_data.loc[(nba_complete_data['Year'] >= 1986) & (nba_complete_data['Year'] < 2018)]

# Let us see the new table, this brings our table from 22k rows to about 15k which makes it a bit easier to work with and
# gives us more precise and complete data since a lot of stats are missing from the games inception.
nba_complete_data

,Index,Year,Player,Pos,Age,Tm,G,GS,MP,PER,...,TRB,AST,STL,BLK,TOV,PF,PTS,Team,Record,Winning Percentage
247,7937,1986,John Battle,SG,23.0,ATL,64.0,0.0,639.0,11.7,...,62.0,74.0,23.0,3.0,47.0,80.0,277.0,Hawks,50-32,0.610
248,7963,1986,Antoine Carr,PF,24.0,ATL,17.0,0.0,258.0,14.4,...,52.0,14.0,7.0,15.0,14.0,51.0,116.0,Hawks,50-32,0.610
249,7973,1986,Lorenzo Charles,SF,22.0,ATL,36.0,0.0,273.0,11.5,...,39.0,8.0,2.0,6.0,18.0,37.0,122.0,Hawks,50-32,0.610
250,8000,1986,Johnny Davis,SG,30.0,ATL,27.0,7.0,402.0,13.9,...,19.0,112.0,13.0,0.0,38.0,32.0,144.0,Hawks,50-32,0.610
251,8050,1986,Scott Hastings,PF,25.0,ATL,62.0,0.0,650.0,7.5,...,124.0,26.0,14.0,8.0,40.0,118.0,193.0,Hawks,50-32,0.610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22124,13341,1997,Rod Strickland,PG,30.0,WSB,82.0,81.0,2997.0,19.7,...,335.0,727.0,143.0,14.0,270.0,166.0,1410.0,Bullets,44-38,0.537
22125,13365,1997,Ben Wallace,PF,22.0,WSB,34.0,0.0,197.0,6.0,...,58.0,2.0,8.0,11.0,18.0,27.0,38.0,Bullets,44-38,0.537
22126,13374,1997,Chris Webber,PF,23.0,WSB,72.0,72.0,2806.0,21.8,...,743.0,331.0,122.0,137.0,230.0,258.0,1445.0,Bullets,44-38,0.537
22127,13382,1997,Chris Whitney,PG,25.0,WSB,82.0,1.0,1117.0,15.2,...,104.0,182.0,49.0,4.0,68.0,100.0,430.0,Bullets,44-38,0.537
22128,13394,1997,Lorenzo Williams,C,27.0,WSB,19.0,0.0,264.0,8.0,...,69.0,4.0,6.0,8.0,18.0,49.0,45.0,Bullets,44-38,0.537